%button {
    background: $base-accent-color;
    border: none;
    border-bottom: 4px solid lighten($base-accent-color, 40%);
    padding: 1em 2.5em;
    clear: both;
    font-size: 1.1em;
    font-family: $sans-serif;
    color: lighten($base-accent-color, 40%);
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    font-weight: 400;
    line-height: 1em;
    float: right;

    i {
         color: lighten($base-accent-color, 20%);
    }

    &:hover {
        color: lighten($base-accent-color, 50%); 
        border: 2px solid $white;
        background: darken($base-accent-color, 5%);

        i {color: lighten($base-accent-color, 60%); }
    }

    &.secondary {
        background: $base-secondary-color;
        border-bottom-color: lighten($base-secondary-color, 40%);
        color: lighten($base-secondary-color, 40%);
    }
}


%small-button {
    @extend %button;
    padding: 5px 7px 5px 8px;
    float: none;
    clear: none;
    margin: 1px 2px 2px;
    background: $light-grey;
    border-bottom: 0;
    border-left: 2px solid $medium-grey;
    font-size: .8em;
    color: $medium-grey;
    text-shadow: 1px 1px 1px rgba(255,255,255,.25);

    &:hover {
        border-width: 0 0 0 2px;
    }
}
