%button {
    background: lighten($base-accent-color, 50%);
    border: none;
    border: 2px solid lighten($base-accent-color, 10%);
    padding: 1.25em 2.5em;
    clear: both;
    font-size: .85em;
    font-family: $sans-serif;
    color: lighten($base-accent-color, 10%);
    text-shadow: 1px 1px 0px transparentize($white, .6);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1em;

    @include media($mobile) {
        display: block;
        margin-bottom: 10px;
    }

    i { color: lighten($base-accent-color, 20%); }

    &:hover {
        background: lighten($base-accent-color, 40%); 
        border-color: $base-accent-color;
        color: $base-accent-color;
    }

    &.primary {
        background: lighten($base-secondary-color, 50%);
        border-color: lighten($base-secondary-color, 10%);
        color: lighten($base-secondary-color, 10%);

        &:hover {
            background: lighten($base-secondary-color, 40%); 
            border-color: $base-secondary-color;
            color: $base-secondary-color;
        }
    }

    &.secondary {
        background: transparentize($white, .7);
        border-color: $dark-grey;
        color: $dark-grey;

        &:hover {
            background: $white;
            border-color: $base-accent-color;
            color: $base-accent-color;
        }
    }
}


%small-button {
    @extend %button;
    padding: 5px 7px 5px 8px;
    float: none;
    clear: none;
    margin: 1px 2px 2px;
    background: $light-grey;
    border: 0;
    border-left: 2px solid $medium-grey;
    font-size: .8em;
    color: $medium-grey;
    text-shadow: 1px 1px 1px rgba(255,255,255,.25);

    &:hover {
        background: darken($light-grey, 10%);
        color: darken($medium-grey, 20%);
        i { color: darken($medium-grey, 20%); }
    }
}
