.DS_Store

# Ignore page cache
/page_cache/*

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore dotenv stuff
.env
# Add DEFINITELY ignore this: it's only used for `cap deploy:setup_config`
.env.production

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore anything used for reference
/assets/mail-templates/originals/*

*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
