<header class="page-header">
  <h3><%= @interview.posting.title %> <span>at</span> <%= @interview.posting.hiring_organization %></h3>
  <h1>Schedule an interview</h1>
</header>

<%= render 'form', location: "new-interview"  %>

