$form-border-color: $light-grey;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: lighten($base-accent-color, 10);
$form-border-radius: $base-border-radius;
$form-box-shadow: 1px 1px 2px $light-grey;
$form-box-shadow-focus: $form-box-shadow, 0 0 4px rgba(darken($form-border-color-focus, 5), 0.5);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

fieldset {
  background: lighten($base-accent-color, 60);
  border: 2px solid lighten($base-accent-color, 20);
  margin: 0 0 ($base-line-height) 0;
  padding: $base-line-height;

  &.primary {
    border: none;
    background: none;
    padding: 0;
  }

  &.secondary {
    border: 1px solid $base-border-color;
    background: lighten($base-border-color, 10);
  }

  h3 {
    text-align: center;
    border-bottom: 1px solid $medium-grey;
    padding-bottom: .5em;
    margin: 0 0 1.5em;
  }
}

form div {
  margin: 2em 0;

  &.actions {
    text-align: center;

    input[type=submit], button {
      margin: 1em auto;
      float: none;
    }
  }
}


input,
label,
select {
  display: inline-block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  @include span-columns(2);
  text-align: right;
  margin-top: .5em;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background: $white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  border-right-color: lighten($form-border-color, 10%);
  border-bottom-color: lighten($form-border-color, 10%);
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  @include span-columns(10);

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    color: darken($form-border-color-focus, 20%);
    outline: none;
  }
}

textarea {
  resize: vertical;
  height: 15em;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


.skinny-form {

  div {
      margin: 0;
      @include clearfix;
  }
  
  label, input[type=email], input[type=password], input[type=text], input[type=date], textarea {
      width: 100%;
      float: none;
  }

  label {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $sans-serif;
      font-size:.8em;
      font-weight: 500;
      color: $medium-grey;
      text-align: left;
  }
}
