$form-border-color: $light-grey;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: lighten($base-accent-color, 10);
$form-border-radius: $base-border-radius;
$form-font-size: .95em;
$form-font-family: $base-font-family;

fieldset {
  margin: 0 0 ($base-line-height) 0;
  border: none;

  &.primary, &.secondary {
    @extend %box;
    padding-bottom: 1em;
  }

  &.primary {
      border-top-color: lighten($base-accent-color, 40%);
      h3 { color: $base-accent-color; }
  }

  &.secondary {
      border-top-color: lighten($base-secondary-color, 40%);
      h3 { color: $base-secondary-color; }
  }
  
  h3 {
    text-align: center;
    margin: 0 0 1.5em;
  }

}

form div {
  margin: 0;
  @include clearfix;
  text-align: left;
  clear: both;

  &.half-width {
    float: left;
    clear: none;
    width: calc(50% - 10px);
    margin-right: 20px;
    & + .half-width {
      margin-right: 0;
      @include clearfix;
    }
  }

  &.date, &.time {
    width: 170px;
  }

  &.partial, &.date + .time {
    width: calc(100% - 190px);
  }

  &.url-field {
    position: relative;

    input[type="url"] {
      text-indent: 5.5em;
    }

    &:after {
      content: 'http://';
      display: block;
      position: absolute;
      top: 2.35em;
      left: 4px;
      padding: 6px 10px;
      background: lighten($light-grey, 5%);
      color: $white;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .75em;
      letter-spacing: 2px;
    }
  }

  &.actions {
    text-align: center;

    input[type=submit], button {
      margin: 1em auto;
      float: none;
    }
  }
}


input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $sans-serif;
  font-size:.8em;
  font-weight: 500;
  color: $medium-grey;
  text-align: left;

  &.required {
    font-weight: bolder;

    &:after {
      content: "*";
    }
  }

  abbr {
    display: none;
  }
}

.focus label {
   color: $blue;
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background: $white;
  border-radius: $form-border-radius;
  border: 1px solid lighten($form-border-color, 5%);
  border-left-color: lighten($form-border-color, 10%);
  border-top-color: lighten($form-border-color, 10%);
  font-family: $form-font-family;
  font-size: $form-font-size;
  color: $dark-grey;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 2) ($base-line-height / 2);
  width: 100%;
  @include box-shadow($size: 1px);

  &:hover {
    @include box-shadow($size: 2px, $post-shadow: 0 0 4px rgba(darken($form-border-color-focus, 5), 0.5));
  }

  &:focus {
    border-color: $form-border-color-focus;
    color: darken($form-border-color-focus, 20%);
    outline: none;
  }
}

textarea {
  resize: vertical;
  height: 15em;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

input[type="date"], input[type="time"] {
  display: inline-block;
  -webkit-appearance: none;

  &+i {
    display: inline-block;
    margin-left: -35px;
    color: $medium-grey;
  }
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


// Text editor!
.froala-box {
  background: rgba($white, .8);
  @include box-shadow($size: 1px);

  .bttn-wrapper {
    background: $white;
  }

  .fr-bttn, .fr-trigger {
    clear: none;
    text-shadow: none;
    i {color: $medium-grey;}

    &[data-cmd="undo"], &[data-cmd="redo"], &[data-cmd="html"] {
      float: right;
    }  
  }

  span.f-sep {
    border-right: none;
    width: 5px;
    background: $white;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}
