// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: px(600);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$mobile: new-breakpoint(max-width 480px 4);

$medium-screen: 640px;
$large-screen: 800px;

$medium-screen-down: new-breakpoint(max-width $medium-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);

@mixin omega($nth) {
    &:nth-of-type(#{$nth}) {
        margin-right: 0;
    }

    &:nth-of-type(#{$nth}+1) {
        clear: both;
    }    
}
