// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: px(600);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$mobile: new-breakpoint(max-width 480px 4);

$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

@mixin omega($nth) {
    &:nth-of-type(#{$nth}) {
        margin-right: 0;
    }

    &:nth-of-type(#{$nth}+1) {
        clear: both;
    }    
}
