body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 3.5; // 16 * 2.25 = 36px
  font-weight: 400;
  font-family: $display;
  color: lighten($medium-grey, 15%);
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
  font-family: $serif;
  margin: .25em 0 .5em;
  font-weight: 500;
  line-height: 1em;
  color: lighten($medium-grey, 15%);
  a {color: lighten($medium-grey, 15%);}
  padding-bottom: .25em;
  border-bottom: 2px solid $light-grey;
}

h3 {
  font-size: $base-font-size * .9; // 16 * .9 = 14.4px
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: lighten($dark-grey, 20%);
  a {color: lighten($dark-grey, 20%)}

  & + p {
    margin-top: 1em;
  }

  span {
    margin: 0;
    font-weight: 400;
    text-transform: none;
    font-style: italic;
    font-family: $italic;
    font-size: 1.05em;
    color: lighten($medium-grey, 10%);

    &::before, &::after {
      margin: 0 2px;
      content: '';
      display: inline-block;
      height: 5px;
      width: 10px;
      border-top: 1px solid $light-grey;
    }
  }
}

h4 {
  font-size: $base-font-size * 1; // 16 * 1.5 = 24px
  font-family: $base-font-family;
  clear: both;
  margin: 2em 0 .25em;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 0.5;
  color: lighten($medium-grey, 10%);
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  margin: 0 0 ($base-line-height * .5);
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.5s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  font-family: $italic;
  font-size: 1.05em;

  &:before {
    content: '\2014 \00A0';
  }
}

em {
  font-style: italic;
  font-family: $italic;
  font-size: 1.05em;
  color: lighten(desaturate($blue, 50%), 10%);
}

strong {
  background: transparentize($white, .15);
  padding: .125em .25em;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  font-weight: bolder;
  color: $green;
}

.suitor {
  font-weight: bolder;
  color: darken($medium-grey, 20%);
}
