// Typography
///////////////////////////////////////////////////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
$sans-serif: Raleway, Helvetica, Arial, sans-serif;
$serif: Lora, Georgia, serif;

$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 0;

// Colors
///////////////////////////////////////////////////////////////////////////////

$red: #8E1A22;
$green: #1B8C1B;
$blue: #1B568C;
$white: #fff;
$dark-grey: #333;
$medium-grey: #999;
$light-grey: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;


$facebook: #3b5998;
$twitter: #55ACEE;

// Body Color
$base-body-color: $white;

//  Font Colors
$base-font-color: $dark-grey;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-grey;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
