@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?-yqaga5');
	src:font-url('icomoon.eot?#iefix-yqaga5') format('embedded-opentype'),
		font-url('icomoon.woff?-yqaga5') format('woff'),
		font-url('icomoon.ttf?-yqaga5') format('truetype'),
		font-url('icomoon.svg?-yqaga5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
	content: "\e8fc";
}
.icon-music:before {
	content: "\e8fd";
}
.icon-search:before {
	content: "\e8fe";
}
.icon-envelope:before {
	content: "\e8ff";
}
.icon-heart5:before {
	content: "\e7c7";
}
.icon-star2:before {
	content: "\e900";
}
.icon-star-empty:before {
	content: "\e901";
}
.icon-user2:before {
	content: "\e902";
}
.icon-film2:before {
	content: "\e903";
}
.icon-th-large2:before {
	content: "\e904";
}
.icon-th:before {
	content: "\e905";
}
.icon-th-list2:before {
	content: "\e906";
}
.icon-ok:before {
	content: "\e907";
}
.icon-remove:before {
	content: "\e908";
}
.icon-zoom-in2:before {
	content: "\e909";
}
.icon-zoom-out2:before {
	content: "\e90a";
}
.icon-off:before {
	content: "\e90b";
}
.icon-signal:before {
	content: "\e90c";
}
.icon-cog2:before {
	content: "\e90d";
}
.icon-trash2:before {
	content: "\e90e";
}
.icon-home2:before {
	content: "\e90f";
}
.icon-file:before {
	content: "\e910";
}
.icon-time2:before {
	content: "\e911";
}
.icon-road:before {
	content: "\e912";
}
.icon-download-alt:before {
	content: "\e913";
}
.icon-download2:before {
	content: "\e914";
}
.icon-upload2:before {
	content: "\e915";
}
.icon-inbox:before {
	content: "\e916";
}
.icon-play-circle:before {
	content: "\e917";
}
.icon-repeat:before {
	content: "\e918";
}
.icon-refresh2:before {
	content: "\e919";
}
.icon-list-alt:before {
	content: "\e91a";
}
.icon-lock:before {
	content: "\e91b";
}
.icon-flag2:before {
	content: "\e91c";
}
.icon-headphones2:before {
	content: "\e91d";
}
.icon-volume-off:before {
	content: "\e91e";
}
.icon-volume-down2:before {
	content: "\e91f";
}
.icon-volume-up2:before {
	content: "\e920";
}
.icon-qrcode:before {
	content: "\e921";
}
.icon-barcode:before {
	content: "\e922";
}
.icon-tag2:before {
	content: "\e923";
}
.icon-tags2:before {
	content: "\e924";
}
.icon-book2:before {
	content: "\e925";
}
.icon-bookmark2:before {
	content: "\e926";
}
.icon-print:before {
	content: "\e927";
}
.icon-camera2:before {
	content: "\e928";
}
.icon-font:before {
	content: "\e929";
}
.icon-bold:before {
	content: "\e92a";
}
.icon-italic:before {
	content: "\e92b";
}
.icon-text-height:before {
	content: "\e92c";
}
.icon-text-width:before {
	content: "\e92d";
}
.icon-align-left:before {
	content: "\e92e";
}
.icon-align-center:before {
	content: "\e92f";
}
.icon-align-right:before {
	content: "\e930";
}
.icon-align-justify:before {
	content: "\e931";
}
.icon-list:before {
	content: "\e932";
}
.icon-indent-left:before {
	content: "\e933";
}
.icon-indent-right:before {
	content: "\e934";
}
.icon-facetime-video:before {
	content: "\e935";
}
.icon-picture:before {
	content: "\e936";
}
.icon-pencil2:before {
	content: "\e937";
}
.icon-map-marker:before {
	content: "\e938";
}
.icon-adjust:before {
	content: "\e939";
}
.icon-tint:before {
	content: "\e93a";
}
.icon-edit2:before {
	content: "\e93b";
}
.icon-share:before {
	content: "\e93c";
}
.icon-check:before {
	content: "\e93d";
}
.icon-move:before {
	content: "\e93e";
}
.icon-step-backward:before {
	content: "\e93f";
}
.icon-fast-backward:before {
	content: "\e940";
}
.icon-backward:before {
	content: "\e941";
}
.icon-play:before {
	content: "\e942";
}
.icon-pause:before {
	content: "\e943";
}
.icon-stop:before {
	content: "\e944";
}
.icon-forward:before {
	content: "\e945";
}
.icon-fast-forward:before {
	content: "\e946";
}
.icon-step-forward:before {
	content: "\e947";
}
.icon-eject2:before {
	content: "\e948";
}
.icon-chevron-left2:before {
	content: "\e949";
}
.icon-chevron-right2:before {
	content: "\e94a";
}
.icon-plus-sign:before {
	content: "\e94b";
}
.icon-minus-sign:before {
	content: "\e94c";
}
.icon-remove-sign:before {
	content: "\e94d";
}
.icon-ok-sign:before {
	content: "\e94e";
}
.icon-question-sign:before {
	content: "\e94f";
}
.icon-info-sign:before {
	content: "\e950";
}
.icon-screenshot:before {
	content: "\e951";
}
.icon-remove-circle:before {
	content: "\e952";
}
.icon-ok-circle:before {
	content: "\e953";
}
.icon-ban-circle:before {
	content: "\e954";
}
.icon-arrow-left2:before {
	content: "\e955";
}
.icon-arrow-right2:before {
	content: "\e956";
}
.icon-arrow-up2:before {
	content: "\e957";
}
.icon-arrow-down2:before {
	content: "\e958";
}
.icon-share-alt:before {
	content: "\e959";
}
.icon-resize-full:before {
	content: "\e95a";
}
.icon-resize-small:before {
	content: "\e95b";
}
.icon-plus2:before {
	content: "\e95c";
}
.icon-minus2:before {
	content: "\e95d";
}
.icon-asterisk:before {
	content: "\e95e";
}
.icon-exclamation-sign:before {
	content: "\e95f";
}
.icon-gift2:before {
	content: "\e960";
}
.icon-leaf2:before {
	content: "\e961";
}
.icon-fire:before {
	content: "\e962";
}
.icon-eye-open:before {
	content: "\e963";
}
.icon-eye-close:before {
	content: "\e964";
}
.icon-warning-sign:before {
	content: "\e965";
}
.icon-plane2:before {
	content: "\e966";
}
.icon-calendar:before {
	content: "\e967";
}
.icon-random:before {
	content: "\e968";
}
.icon-comment:before {
	content: "\e969";
}
.icon-magnet:before {
	content: "\e96a";
}
.icon-chevron-up:before {
	content: "\e96b";
}
.icon-chevron-down:before {
	content: "\e96c";
}
.icon-retweet:before {
	content: "\e96d";
}
.icon-shopping-cart2:before {
	content: "\e96e";
}
.icon-folder-close:before {
	content: "\e96f";
}
.icon-folder-open:before {
	content: "\e970";
}
.icon-resize-vertical:before {
	content: "\e971";
}
.icon-resize-horizontal:before {
	content: "\e972";
}
.icon-bar-chart:before {
	content: "\e973";
}
.icon-twitter-sign:before {
	content: "\e974";
}
.icon-facebook-sign:before {
	content: "\e975";
}
.icon-camera-retro:before {
	content: "\e976";
}
.icon-key2:before {
	content: "\e977";
}
.icon-cogs:before {
	content: "\e978";
}
.icon-comments:before {
	content: "\e979";
}
.icon-thumbs-up2:before {
	content: "\e97a";
}
.icon-thumbs-down2:before {
	content: "\e97b";
}
.icon-star-half:before {
	content: "\e97c";
}
.icon-heart-empty:before {
	content: "\e97d";
}
.icon-signout:before {
	content: "\e97e";
}
.icon-linkedin-sign:before {
	content: "\e97f";
}
.icon-pushpin:before {
	content: "\e980";
}
.icon-external-link:before {
	content: "\e981";
}
.icon-signin:before {
	content: "\e982";
}
.icon-trophy:before {
	content: "\e983";
}
.icon-github-sign:before {
	content: "\e984";
}
.icon-upload-alt:before {
	content: "\e985";
}
.icon-lemon:before {
	content: "\e986";
}
.icon-phone2:before {
	content: "\e987";
}
.icon-check-empty:before {
	content: "\e988";
}
.icon-bookmark-empty:before {
	content: "\e989";
}
.icon-phone-sign:before {
	content: "\e98a";
}
.icon-twitter:before {
	content: "\e98b";
}
.icon-facebook:before {
	content: "\e98c";
}
.icon-github:before {
	content: "\e98d";
}
.icon-unlock:before {
	content: "\e98e";
}
.icon-credit:before {
	content: "\e98f";
}
.icon-rss2:before {
	content: "\e990";
}
.icon-hdd:before {
	content: "\e991";
}
.icon-bullhorn:before {
	content: "\e992";
}
.icon-bell2:before {
	content: "\e993";
}
.icon-certificate:before {
	content: "\e994";
}
.icon-hand-right:before {
	content: "\e995";
}
.icon-hand-left:before {
	content: "\e996";
}
.icon-hand-up:before {
	content: "\e997";
}
.icon-hand-down:before {
	content: "\e998";
}
.icon-circle-arrow-left:before {
	content: "\e999";
}
.icon-circle-arrow-right:before {
	content: "\e99a";
}
.icon-circle-arrow-up:before {
	content: "\e99b";
}
.icon-circle-arrow-down:before {
	content: "\e99c";
}
.icon-globe2:before {
	content: "\e99d";
}
.icon-wrench:before {
	content: "\e99e";
}
.icon-tasks:before {
	content: "\e99f";
}
.icon-filter:before {
	content: "\e9a0";
}
.icon-briefcase2:before {
	content: "\e9a1";
}
.icon-fullscreen:before {
	content: "\e9a2";
}
.icon-group2:before {
	content: "\e9a3";
}
.icon-link2:before {
	content: "\e9a4";
}
.icon-cloud:before {
	content: "\e9a5";
}
.icon-beaker2:before {
	content: "\e9a6";
}
.icon-cut:before {
	content: "\e9a7";
}
.icon-copy:before {
	content: "\e9a8";
}
.icon-paper-clip:before {
	content: "\e9a9";
}
.icon-save:before {
	content: "\e9aa";
}
.icon-sign-blank:before {
	content: "\e9ab";
}
.icon-reorder:before {
	content: "\e9ac";
}
.icon-list-ul:before {
	content: "\e9ad";
}
.icon-list-ol:before {
	content: "\e9ae";
}
.icon-strikethrough:before {
	content: "\e9af";
}
.icon-underline:before {
	content: "\e9b0";
}
.icon-table:before {
	content: "\e9b1";
}
.icon-magic:before {
	content: "\e9b2";
}
.icon-truck:before {
	content: "\e9b3";
}
.icon-pinterest:before {
	content: "\e9b4";
}
.icon-pinterest-sign:before {
	content: "\e9b5";
}
.icon-google-plus-sign:before {
	content: "\e9b6";
}
.icon-google-plus:before {
	content: "\e9b7";
}
.icon-money:before {
	content: "\e9b8";
}
.icon-caret-down:before {
	content: "\e9b9";
}
.icon-caret-up:before {
	content: "\e9ba";
}
.icon-caret-left:before {
	content: "\e9bb";
}
.icon-caret-right:before {
	content: "\e9bc";
}
.icon-columns:before {
	content: "\e9bd";
}
.icon-sort:before {
	content: "\e9be";
}
.icon-sort-down:before {
	content: "\e9bf";
}
.icon-sort-up:before {
	content: "\e9c0";
}
.icon-envelope-alt:before {
	content: "\e9c1";
}
.icon-linkedin3:before {
	content: "\e7c6";
}
.icon-undo:before {
	content: "\e9c2";
}
.icon-legal:before {
	content: "\e9c3";
}
.icon-dashboard:before {
	content: "\e9c4";
}
.icon-comment-alt:before {
	content: "\e9c5";
}
.icon-comments-alt:before {
	content: "\e9c6";
}
.icon-bolt:before {
	content: "\e9c7";
}
.icon-sitemap:before {
	content: "\e9c8";
}
.icon-umbrella:before {
	content: "\e9c9";
}
.icon-paste:before {
	content: "\e9ca";
}
.icon-lightbulb2:before {
	content: "\e9cb";
}
.icon-exchange:before {
	content: "\e9cc";
}
.icon-cloud-download:before {
	content: "\e9cd";
}
.icon-cloud-upload:before {
	content: "\e9ce";
}
.icon-user-md:before {
	content: "\e9cf";
}
.icon-stethoscope:before {
	content: "\e9d0";
}
.icon-suitcase:before {
	content: "\e9d1";
}
.icon-bell-alt:before {
	content: "\e9d2";
}
.icon-coffee2:before {
	content: "\e7c9";
}
.icon-food:before {
	content: "\e9d3";
}
.icon-file-alt:before {
	content: "\e9d4";
}
.icon-building:before {
	content: "\e9d5";
}
.icon-hospital:before {
	content: "\e9d6";
}
.icon-ambulance:before {
	content: "\e9d7";
}
.icon-medkit:before {
	content: "\e9d8";
}
.icon-fighter-jet:before {
	content: "\e9d9";
}
.icon-beer2:before {
	content: "\e9da";
}
.icon-h-sign:before {
	content: "\e9db";
}
.icon-plus-sign2:before {
	content: "\e9dc";
}
.icon-double-angle-left:before {
	content: "\e9dd";
}
.icon-double-angle-right:before {
	content: "\e9de";
}
.icon-double-angle-up:before {
	content: "\e9df";
}
.icon-double-angle-down:before {
	content: "\e9e0";
}
.icon-angle-left:before {
	content: "\e9e1";
}
.icon-angle-right:before {
	content: "\e9e2";
}
.icon-angle-up:before {
	content: "\e9e3";
}
.icon-angle-down:before {
	content: "\e9e4";
}
.icon-desktop:before {
	content: "\e9e5";
}
.icon-laptop:before {
	content: "\e9e6";
}
.icon-tablet:before {
	content: "\e9e7";
}
.icon-mobile:before {
	content: "\e9e8";
}
.icon-circle-blank:before {
	content: "\e9e9";
}
.icon-quote-left:before {
	content: "\e9ea";
}
.icon-quote-right:before {
	content: "\e9eb";
}
.icon-spinner:before {
	content: "\e9ec";
}
.icon-circle:before {
	content: "\e9ed";
}
.icon-reply:before {
	content: "\e9ee";
}
.icon-github-alt:before {
	content: "\e9ef";
}
.icon-folder-close-alt:before {
	content: "\e9f0";
}
.icon-folder-open-alt:before {
	content: "\e9f1";
}
.icon-expand-alt:before {
	content: "\e9f2";
}
.icon-collapse-alt:before {
	content: "\e9f3";
}
.icon-smile:before {
	content: "\e9f4";
}
.icon-frown:before {
	content: "\e9f5";
}
.icon-meh:before {
	content: "\e9f6";
}
.icon-gamepad:before {
	content: "\e9f7";
}
.icon-keyboard:before {
	content: "\e9f8";
}
.icon-flag-alt:before {
	content: "\e9f9";
}
.icon-flag-checkered:before {
	content: "\e9fa";
}
.icon-terminal:before {
	content: "\e9fb";
}
.icon-code2:before {
	content: "\e9fc";
}
.icon-reply-all:before {
	content: "\e9fd";
}
.icon-star-half-full:before {
	content: "\e9fe";
}
.icon-location-arrow2:before {
	content: "\e9ff";
}
.icon-crop:before {
	content: "\ea00";
}
.icon-code-fork:before {
	content: "\ea01";
}
.icon-unlink:before {
	content: "\ea02";
}
.icon-question:before {
	content: "\ea03";
}
.icon-info2:before {
	content: "\ea04";
}
.icon-exclamation:before {
	content: "\ea05";
}
.icon-superscript:before {
	content: "\ea06";
}
.icon-subscript:before {
	content: "\ea07";
}
.icon-eraser:before {
	content: "\ea08";
}
.icon-puzzle2:before {
	content: "\ea09";
}
.icon-microphone2:before {
	content: "\ea0a";
}
.icon-microphone-off:before {
	content: "\ea0b";
}
.icon-shield:before {
	content: "\ea0c";
}
.icon-calendar-empty:before {
	content: "\ea0d";
}
.icon-fire-extinguisher:before {
	content: "\ea0e";
}
.icon-rocket:before {
	content: "\ea0f";
}
.icon-maxcdn:before {
	content: "\ea10";
}
.icon-chevron-sign-left:before {
	content: "\ea11";
}
.icon-chevron-sign-right:before {
	content: "\ea12";
}
.icon-chevron-sign-up:before {
	content: "\ea13";
}
.icon-chevron-sign-down:before {
	content: "\ea14";
}
.icon-html5:before {
	content: "\ea15";
}
.icon-css3:before {
	content: "\ea16";
}
.icon-anchor2:before {
	content: "\ea17";
}
.icon-unlock-alt:before {
	content: "\ea18";
}
.icon-bullseye:before {
	content: "\ea19";
}
.icon-ellipsis-horizontal:before {
	content: "\ea1a";
}
.icon-ellipsis-vertical:before {
	content: "\ea1b";
}
.icon-rss-sign:before {
	content: "\ea1c";
}
.icon-play-sign:before {
	content: "\ea1d";
}
.icon-ticket2:before {
	content: "\ea1e";
}
.icon-minus-sign-alt:before {
	content: "\ea1f";
}
.icon-check-minus:before {
	content: "\ea20";
}
.icon-level-up:before {
	content: "\ea21";
}
.icon-level-down:before {
	content: "\ea22";
}
.icon-check-sign:before {
	content: "\ea23";
}
.icon-edit-sign:before {
	content: "\ea24";
}
.icon-external-link-sign:before {
	content: "\ea25";
}
.icon-share-sign:before {
	content: "\ea26";
}
.icon-compass2:before {
	content: "\ea27";
}
.icon-collapse:before {
	content: "\ea28";
}
.icon-collapse-top:before {
	content: "\ea29";
}
.icon-expand:before {
	content: "\ea2a";
}
.icon-euro:before {
	content: "\ea2b";
}
.icon-gbp:before {
	content: "\ea2c";
}
.icon-dollar:before {
	content: "\ea2d";
}
.icon-rupee:before {
	content: "\ea2e";
}
.icon-yen:before {
	content: "\ea2f";
}
.icon-renminbi:before {
	content: "\ea30";
}
.icon-won:before {
	content: "\ea31";
}
.icon-bitcoin:before {
	content: "\ea32";
}
.icon-file2:before {
	content: "\ea33";
}
.icon-file-text:before {
	content: "\ea34";
}
.icon-sort-by-alphabet:before {
	content: "\ea35";
}
.icon-sort-by-alphabet-alt:before {
	content: "\ea36";
}
.icon-sort-by-attributes:before {
	content: "\ea37";
}
.icon-sort-by-attributes-alt:before {
	content: "\ea38";
}
.icon-sort-by-order:before {
	content: "\ea39";
}
.icon-sort-by-order-alt:before {
	content: "\ea3a";
}
.icon-thumbs-up3:before {
	content: "\ea3b";
}
.icon-thumbs-down3:before {
	content: "\ea3c";
}
.icon-youtube-sign:before {
	content: "\ea3d";
}
.icon-youtube:before {
	content: "\ea3e";
}
.icon-xing:before {
	content: "\ea3f";
}
.icon-xing-sign:before {
	content: "\ea40";
}
.icon-youtube-play:before {
	content: "\ea41";
}
.icon-dropbox:before {
	content: "\ea42";
}
.icon-stackexchange:before {
	content: "\ea43";
}
.icon-instagram:before {
	content: "\ea44";
}
.icon-flickr:before {
	content: "\ea45";
}
.icon-adn:before {
	content: "\ea46";
}
.icon-bitbucket:before {
	content: "\ea47";
}
.icon-bitbucket-sign:before {
	content: "\ea48";
}
.icon-tumblr:before {
	content: "\ea49";
}
.icon-tumblr-sign:before {
	content: "\ea4a";
}
.icon-long-arrow-down:before {
	content: "\ea4b";
}
.icon-long-arrow-up:before {
	content: "\ea4c";
}
.icon-long-arrow-left:before {
	content: "\ea4d";
}
.icon-long-arrow-right:before {
	content: "\ea4e";
}
.icon-apple:before {
	content: "\ea4f";
}
.icon-windows:before {
	content: "\ea50";
}
.icon-android:before {
	content: "\ea51";
}
.icon-linux:before {
	content: "\ea52";
}
.icon-dribbble:before {
	content: "\ea53";
}
.icon-skype:before {
	content: "\ea54";
}
.icon-foursquare:before {
	content: "\ea55";
}
.icon-trello:before {
	content: "\ea56";
}
.icon-female:before {
	content: "\ea57";
}
.icon-male:before {
	content: "\ea58";
}
.icon-gittip:before {
	content: "\ea59";
}
.icon-sun:before {
	content: "\ea5a";
}
.icon-moon:before {
	content: "\ea5b";
}
.icon-archive2:before {
	content: "\ea5c";
}
.icon-bug:before {
	content: "\ea5d";
}
.icon-vk:before {
	content: "\ea5e";
}
.icon-weibo:before {
	content: "\ea5f";
}
.icon-renren:before {
	content: "\ea60";
}
.icon-home3:before {
	content: "\e622";
}
.icon-home22:before {
	content: "\e623";
}
.icon-home32:before {
	content: "\e624";
}
.icon-office:before {
	content: "\e625";
}
.icon-newspaper:before {
	content: "\e626";
}
.icon-pencil3:before {
	content: "\e627";
}
.icon-pencil22:before {
	content: "\e628";
}
.icon-quill:before {
	content: "\e629";
}
.icon-pen2:before {
	content: "\e62a";
}
.icon-blog:before {
	content: "\e62b";
}
.icon-droplet:before {
	content: "\e605";
}
.icon-paint-format:before {
	content: "\e606";
}
.icon-image2:before {
	content: "\e62c";
}
.icon-image22:before {
	content: "\e62d";
}
.icon-images:before {
	content: "\e62e";
}
.icon-camera3:before {
	content: "\e607";
}
.icon-music2:before {
	content: "\e62f";
}
.icon-headphones3:before {
	content: "\e630";
}
.icon-play2:before {
	content: "\e631";
}
.icon-film3:before {
	content: "\e632";
}
.icon-camera22:before {
	content: "\e633";
}
.icon-dice:before {
	content: "\e634";
}
.icon-pacman:before {
	content: "\e635";
}
.icon-spades:before {
	content: "\e636";
}
.icon-clubs:before {
	content: "\e637";
}
.icon-diamonds:before {
	content: "\e638";
}
.icon-pawn:before {
	content: "\e639";
}
.icon-bullhorn2:before {
	content: "\e63a";
}
.icon-connection:before {
	content: "\e63b";
}
.icon-podcast:before {
	content: "\e63c";
}
.icon-feed:before {
	content: "\e63d";
}
.icon-book3:before {
	content: "\e63e";
}
.icon-books:before {
	content: "\e63f";
}
.icon-library:before {
	content: "\e640";
}
.icon-file3:before {
	content: "\e641";
}
.icon-profile:before {
	content: "\e642";
}
.icon-file22:before {
	content: "\e643";
}
.icon-file32:before {
	content: "\e644";
}
.icon-file4:before {
	content: "\e645";
}
.icon-copy2:before {
	content: "\e646";
}
.icon-copy22:before {
	content: "\e647";
}
.icon-copy3:before {
	content: "\e648";
}
.icon-paste2:before {
	content: "\e649";
}
.icon-paste22:before {
	content: "\e64a";
}
.icon-paste3:before {
	content: "\e64b";
}
.icon-stack:before {
	content: "\e64c";
}
.icon-folder2:before {
	content: "\e64d";
}
.icon-folder-open2:before {
	content: "\e64e";
}
.icon-tag3:before {
	content: "\e64f";
}
.icon-tags3:before {
	content: "\e650";
}
.icon-barcode2:before {
	content: "\e651";
}
.icon-qrcode2:before {
	content: "\e652";
}
.icon-ticket3:before {
	content: "\e653";
}
.icon-cart:before {
	content: "\e654";
}
.icon-cart2:before {
	content: "\e655";
}
.icon-cart3:before {
	content: "\e656";
}
.icon-coin:before {
	content: "\e657";
}
.icon-credit2:before {
	content: "\e658";
}
.icon-calculate:before {
	content: "\e659";
}
.icon-support2:before {
	content: "\e65a";
}
.icon-phone3:before {
	content: "\e60b";
}
.icon-phone-hang-up:before {
	content: "\e65b";
}
.icon-address-book:before {
	content: "\e65c";
}
.icon-notebook:before {
	content: "\e65d";
}
.icon-envelope2:before {
	content: "\e65e";
}
.icon-pushpin2:before {
	content: "\e65f";
}
.icon-location2:before {
	content: "\e660";
}
.icon-location22:before {
	content: "\e60a";
}
.icon-compass3:before {
	content: "\e609";
}
.icon-map2:before {
	content: "\e661";
}
.icon-map22:before {
	content: "\e662";
}
.icon-history:before {
	content: "\e663";
}
.icon-clock:before {
	content: "\e664";
}
.icon-clock2:before {
	content: "\e665";
}
.icon-alarm:before {
	content: "\e666";
}
.icon-alarm2:before {
	content: "\e667";
}
.icon-bell3:before {
	content: "\e668";
}
.icon-stopwatch2:before {
	content: "\e669";
}
.icon-calendar2:before {
	content: "\e66a";
}
.icon-calendar22:before {
	content: "\e66b";
}
.icon-print2:before {
	content: "\e66c";
}
.icon-keyboard2:before {
	content: "\e66d";
}
.icon-screen:before {
	content: "\e66e";
}
.icon-laptop2:before {
	content: "\e66f";
}
.icon-mobile2:before {
	content: "\e608";
}
.icon-mobile22:before {
	content: "\e670";
}
.icon-tablet2:before {
	content: "\e671";
}
.icon-tv:before {
	content: "\e672";
}
.icon-cabinet:before {
	content: "\e673";
}
.icon-drawer:before {
	content: "\e674";
}
.icon-drawer2:before {
	content: "\e675";
}
.icon-drawer3:before {
	content: "\e676";
}
.icon-box-add:before {
	content: "\e677";
}
.icon-box-remove:before {
	content: "\e678";
}
.icon-download3:before {
	content: "\e679";
}
.icon-upload3:before {
	content: "\e67a";
}
.icon-disk:before {
	content: "\e67b";
}
.icon-storage:before {
	content: "\e67c";
}
.icon-undo2:before {
	content: "\e67d";
}
.icon-redo:before {
	content: "\e67e";
}
.icon-flip:before {
	content: "\e67f";
}
.icon-flip2:before {
	content: "\e680";
}
.icon-undo22:before {
	content: "\e681";
}
.icon-redo2:before {
	content: "\e682";
}
.icon-forward2:before {
	content: "\e683";
}
.icon-reply2:before {
	content: "\e684";
}
.icon-bubble:before {
	content: "\e685";
}
.icon-bubbles:before {
	content: "\e686";
}
.icon-bubbles2:before {
	content: "\e687";
}
.icon-bubble2:before {
	content: "\e60e";
}
.icon-bubbles22:before {
	content: "\e60d";
}
.icon-bubbles3:before {
	content: "\e60c";
}
.icon-user3:before {
	content: "\e688";
}
.icon-users:before {
	content: "\e689";
}
.icon-user22:before {
	content: "\e68a";
}
.icon-users2:before {
	content: "\e68b";
}
.icon-user32:before {
	content: "\e68c";
}
.icon-user4:before {
	content: "\e68d";
}
.icon-quotes-left:before {
	content: "\e68e";
}
.icon-busy:before {
	content: "\e68f";
}
.icon-spinner2:before {
	content: "\e690";
}
.icon-spinner22:before {
	content: "\e691";
}
.icon-spinner3:before {
	content: "\e692";
}
.icon-spinner4:before {
	content: "\e693";
}
.icon-spinner5:before {
	content: "\e694";
}
.icon-spinner6:before {
	content: "\e695";
}
.icon-binoculars:before {
	content: "\e696";
}
.icon-search2:before {
	content: "\e697";
}
.icon-zoom-in3:before {
	content: "\e698";
}
.icon-zoom-out3:before {
	content: "\e699";
}
.icon-expand2:before {
	content: "\e69a";
}
.icon-contract:before {
	content: "\e69b";
}
.icon-expand22:before {
	content: "\e69c";
}
.icon-contract2:before {
	content: "\e69d";
}
.icon-key3:before {
	content: "\e69e";
}
.icon-key22:before {
	content: "\e69f";
}
.icon-lock2:before {
	content: "\e6a0";
}
.icon-lock22:before {
	content: "\e6a1";
}
.icon-unlocked:before {
	content: "\e6a2";
}
.icon-wrench2:before {
	content: "\e6a3";
}
.icon-settings:before {
	content: "\e6a4";
}
.icon-equalizer:before {
	content: "\e6a5";
}
.icon-cog3:before {
	content: "\e6a6";
}
.icon-cogs2:before {
	content: "\e6a7";
}
.icon-cog22:before {
	content: "\e6a8";
}
.icon-hammer:before {
	content: "\e6a9";
}
.icon-wand:before {
	content: "\e611";
}
.icon-aid:before {
	content: "\e6aa";
}
.icon-bug2:before {
	content: "\e6ab";
}
.icon-pie:before {
	content: "\e6ac";
}
.icon-stats:before {
	content: "\e6ad";
}
.icon-bars:before {
	content: "\e6ae";
}
.icon-bars2:before {
	content: "\e6af";
}
.icon-gift3:before {
	content: "\e6b0";
}
.icon-trophy2:before {
	content: "\e6b1";
}
.icon-glass2:before {
	content: "\e610";
}
.icon-mug:before {
	content: "\e6b2";
}
.icon-food2:before {
	content: "\e6b3";
}
.icon-leaf3:before {
	content: "\e6b4";
}
.icon-rocket2:before {
	content: "\e61b";
}
.icon-meter:before {
	content: "\e6b5";
}
.icon-meter2:before {
	content: "\e6b6";
}
.icon-dashboard2:before {
	content: "\e6b7";
}
.icon-hammer2:before {
	content: "\e6b8";
}
.icon-fire2:before {
	content: "\e61c";
}
.icon-lab:before {
	content: "\e60f";
}
.icon-magnet2:before {
	content: "\e6b9";
}
.icon-remove2:before {
	content: "\e6ba";
}
.icon-remove22:before {
	content: "\e6bb";
}
.icon-briefcase3:before {
	content: "\e6bc";
}
.icon-airplane:before {
	content: "\e61a";
}
.icon-truck2:before {
	content: "\e6bd";
}
.icon-road2:before {
	content: "\e6be";
}
.icon-accessibility:before {
	content: "\e6bf";
}
.icon-target:before {
	content: "\e6c0";
}
.icon-shield2:before {
	content: "\e6c1";
}
.icon-lightning:before {
	content: "\e6c2";
}
.icon-switch:before {
	content: "\e6c3";
}
.icon-power-cord:before {
	content: "\e612";
}
.icon-signup:before {
	content: "\e6c4";
}
.icon-list2:before {
	content: "\e6c5";
}
.icon-list22:before {
	content: "\e614";
}
.icon-numbered-list:before {
	content: "\e6c6";
}
.icon-menu:before {
	content: "\e6c7";
}
.icon-menu2:before {
	content: "\e613";
}
.icon-tree2:before {
	content: "\e6c8";
}
.icon-cloud2:before {
	content: "\e6c9";
}
.icon-cloud-download2:before {
	content: "\e6ca";
}
.icon-cloud-upload2:before {
	content: "\e6cb";
}
.icon-download22:before {
	content: "\e6cc";
}
.icon-upload22:before {
	content: "\e6cd";
}
.icon-download32:before {
	content: "\e6ce";
}
.icon-upload32:before {
	content: "\e6cf";
}
.icon-globe3:before {
	content: "\e616";
}
.icon-earth:before {
	content: "\e615";
}
.icon-link3:before {
	content: "\e6d0";
}
.icon-flag3:before {
	content: "\e6d1";
}
.icon-attachment2:before {
	content: "\e6d2";
}
.icon-eye2:before {
	content: "\e619";
}
.icon-eye-blocked:before {
	content: "\e6d3";
}
.icon-eye22:before {
	content: "\e6d4";
}
.icon-bookmark3:before {
	content: "\e6d5";
}
.icon-bookmarks:before {
	content: "\e6d6";
}
.icon-brightness-medium:before {
	content: "\e6d7";
}
.icon-brightness-contrast:before {
	content: "\e6d8";
}
.icon-contrast:before {
	content: "\e6d9";
}
.icon-star3:before {
	content: "\e6da";
}
.icon-star22:before {
	content: "\e6db";
}
.icon-star32:before {
	content: "\e618";
}
.icon-heart:before {
	content: "\e617";
}
.icon-heart2:before {
	content: "\e6dc";
}
.icon-heart-broken:before {
	content: "\e6dd";
}
.icon-thumbs-up4:before {
	content: "\e6de";
}
.icon-thumbs-up22:before {
	content: "\e6df";
}
.icon-happy:before {
	content: "\e6e0";
}
.icon-happy2:before {
	content: "\e6e1";
}
.icon-smiley:before {
	content: "\e6e2";
}
.icon-smiley2:before {
	content: "\e6e3";
}
.icon-tongue:before {
	content: "\e6e4";
}
.icon-tongue2:before {
	content: "\e6e5";
}
.icon-sad:before {
	content: "\e6e6";
}
.icon-sad2:before {
	content: "\e6e7";
}
.icon-wink:before {
	content: "\e6e8";
}
.icon-wink2:before {
	content: "\e6e9";
}
.icon-grin:before {
	content: "\e6ea";
}
.icon-grin2:before {
	content: "\e6eb";
}
.icon-cool:before {
	content: "\e6ec";
}
.icon-cool2:before {
	content: "\e6ed";
}
.icon-angry:before {
	content: "\e6ee";
}
.icon-angry2:before {
	content: "\e6ef";
}
.icon-evil:before {
	content: "\e6f0";
}
.icon-evil2:before {
	content: "\e6f1";
}
.icon-shocked:before {
	content: "\e6f2";
}
.icon-shocked2:before {
	content: "\e6f3";
}
.icon-confused:before {
	content: "\e6f4";
}
.icon-confused2:before {
	content: "\e6f5";
}
.icon-neutral:before {
	content: "\e6f6";
}
.icon-neutral2:before {
	content: "\e6f7";
}
.icon-wondering:before {
	content: "\e6f8";
}
.icon-wondering2:before {
	content: "\e6f9";
}
.icon-point-up:before {
	content: "\e6fa";
}
.icon-point-right:before {
	content: "\e6fb";
}
.icon-point-down:before {
	content: "\e6fc";
}
.icon-point-left:before {
	content: "\e6fd";
}
.icon-warning2:before {
	content: "\e6fe";
}
.icon-notification:before {
	content: "\e6ff";
}
.icon-question2:before {
	content: "\e700";
}
.icon-info3:before {
	content: "\e701";
}
.icon-info22:before {
	content: "\e702";
}
.icon-blocked:before {
	content: "\e703";
}
.icon-cancel-circle:before {
	content: "\e704";
}
.icon-checkmark-circle:before {
	content: "\e705";
}
.icon-spam:before {
	content: "\e706";
}
.icon-close:before {
	content: "\e707";
}
.icon-checkmark:before {
	content: "\e708";
}
.icon-checkmark2:before {
	content: "\e709";
}
.icon-spell-check:before {
	content: "\e70a";
}
.icon-minus3:before {
	content: "\e70b";
}
.icon-plus3:before {
	content: "\e70c";
}
.icon-enter:before {
	content: "\e70d";
}
.icon-exit:before {
	content: "\e70e";
}
.icon-play22:before {
	content: "\e70f";
}
.icon-pause2:before {
	content: "\e710";
}
.icon-stop2:before {
	content: "\e711";
}
.icon-backward2:before {
	content: "\e712";
}
.icon-forward22:before {
	content: "\e713";
}
.icon-play3:before {
	content: "\e714";
}
.icon-pause22:before {
	content: "\e715";
}
.icon-stop22:before {
	content: "\e716";
}
.icon-backward22:before {
	content: "\e717";
}
.icon-forward3:before {
	content: "\e718";
}
.icon-first:before {
	content: "\e719";
}
.icon-last:before {
	content: "\e71a";
}
.icon-previous:before {
	content: "\e71b";
}
.icon-next:before {
	content: "\e71c";
}
.icon-eject3:before {
	content: "\e71d";
}
.icon-volume-high:before {
	content: "\e71e";
}
.icon-volume-medium:before {
	content: "\e71f";
}
.icon-volume-low:before {
	content: "\e720";
}
.icon-volume-mute2:before {
	content: "\e721";
}
.icon-volume-mute22:before {
	content: "\e722";
}
.icon-volume-increase:before {
	content: "\e723";
}
.icon-volume-decrease:before {
	content: "\e724";
}
.icon-loop:before {
	content: "\e725";
}
.icon-loop2:before {
	content: "\e726";
}
.icon-loop3:before {
	content: "\e727";
}
.icon-shuffle:before {
	content: "\e728";
}
.icon-arrow-up-left:before {
	content: "\e729";
}
.icon-arrow-up3:before {
	content: "\e72a";
}
.icon-arrow-up-right:before {
	content: "\e72b";
}
.icon-arrow-right3:before {
	content: "\e72c";
}
.icon-arrow-down-right:before {
	content: "\e72d";
}
.icon-arrow-down3:before {
	content: "\e72e";
}
.icon-arrow-down-left:before {
	content: "\e72f";
}
.icon-arrow-left3:before {
	content: "\e730";
}
.icon-arrow-up-left2:before {
	content: "\e731";
}
.icon-arrow-up22:before {
	content: "\e732";
}
.icon-arrow-up-right2:before {
	content: "\e733";
}
.icon-arrow-right22:before {
	content: "\e734";
}
.icon-arrow-down-right2:before {
	content: "\e735";
}
.icon-arrow-down22:before {
	content: "\e736";
}
.icon-arrow-down-left2:before {
	content: "\e737";
}
.icon-arrow-left22:before {
	content: "\e738";
}
.icon-arrow-up-left3:before {
	content: "\e739";
}
.icon-arrow-up32:before {
	content: "\e73a";
}
.icon-arrow-up-right3:before {
	content: "\e73b";
}
.icon-arrow-right32:before {
	content: "\e73c";
}
.icon-arrow-down-right3:before {
	content: "\e73d";
}
.icon-arrow-down32:before {
	content: "\e73e";
}
.icon-arrow-down-left3:before {
	content: "\e73f";
}
.icon-arrow-left32:before {
	content: "\e740";
}
.icon-tab:before {
	content: "\e741";
}
.icon-checkbox-checked:before {
	content: "\e742";
}
.icon-checkbox-unchecked:before {
	content: "\e743";
}
.icon-checkbox-partial:before {
	content: "\e744";
}
.icon-radio-checked:before {
	content: "\e745";
}
.icon-radio-unchecked:before {
	content: "\e746";
}
.icon-crop2:before {
	content: "\e747";
}
.icon-scissors2:before {
	content: "\e748";
}
.icon-filter2:before {
	content: "\e749";
}
.icon-filter22:before {
	content: "\e74a";
}
.icon-font2:before {
	content: "\e74b";
}
.icon-text-height2:before {
	content: "\e74c";
}
.icon-text-width2:before {
	content: "\e74d";
}
.icon-bold2:before {
	content: "\e74e";
}
.icon-underline2:before {
	content: "\e74f";
}
.icon-italic2:before {
	content: "\e750";
}
.icon-strikethrough2:before {
	content: "\e751";
}
.icon-omega:before {
	content: "\e752";
}
.icon-sigma:before {
	content: "\e753";
}
.icon-table2:before {
	content: "\e754";
}
.icon-table22:before {
	content: "\e755";
}
.icon-insert-template:before {
	content: "\e756";
}
.icon-pilcrow:before {
	content: "\e757";
}
.icon-left-toright:before {
	content: "\e758";
}
.icon-right-toleft:before {
	content: "\e759";
}
.icon-paragraph-left:before {
	content: "\e75a";
}
.icon-paragraph-center:before {
	content: "\e75b";
}
.icon-paragraph-right:before {
	content: "\e75c";
}
.icon-paragraph-justify:before {
	content: "\e75d";
}
.icon-paragraph-left2:before {
	content: "\e75e";
}
.icon-paragraph-center2:before {
	content: "\e75f";
}
.icon-paragraph-right2:before {
	content: "\e760";
}
.icon-paragraph-justify2:before {
	content: "\e761";
}
.icon-indent-increase:before {
	content: "\e762";
}
.icon-indent-decrease:before {
	content: "\e763";
}
.icon-new-tab:before {
	content: "\e764";
}
.icon-embed:before {
	content: "\e765";
}
.icon-code3:before {
	content: "\e766";
}
.icon-console:before {
	content: "\e767";
}
.icon-share2:before {
	content: "\e768";
}
.icon-mail2:before {
	content: "\e769";
}
.icon-mail22:before {
	content: "\e76a";
}
.icon-mail3:before {
	content: "\e76b";
}
.icon-mail4:before {
	content: "\e76c";
}
.icon-google:before {
	content: "\e76d";
}
.icon-google-plus2:before {
	content: "\e76e";
}
.icon-google-plus22:before {
	content: "\e76f";
}
.icon-google-plus3:before {
	content: "\e770";
}
.icon-google-plus4:before {
	content: "\e771";
}
.icon-google-drive:before {
	content: "\e772";
}
.icon-facebook2:before {
	content: "\e604";
}
.icon-facebook22:before {
	content: "\e773";
}
.icon-facebook3:before {
	content: "\e774";
}
.icon-instagram2:before {
	content: "\e775";
}
.icon-twitter2:before {
	content: "\e601";
}
.icon-twitter22:before {
	content: "\e776";
}
.icon-twitter3:before {
	content: "\e777";
}
.icon-feed2:before {
	content: "\e778";
}
.icon-feed3:before {
	content: "\e779";
}
.icon-feed4:before {
	content: "\e77a";
}
.icon-youtube2:before {
	content: "\e77b";
}
.icon-youtube22:before {
	content: "\e77c";
}
.icon-vimeo:before {
	content: "\e77d";
}
.icon-vimeo2:before {
	content: "\e77e";
}
.icon-vimeo3:before {
	content: "\e77f";
}
.icon-lanyrd:before {
	content: "\e780";
}
.icon-flickr2:before {
	content: "\e781";
}
.icon-flickr22:before {
	content: "\e782";
}
.icon-flickr3:before {
	content: "\e783";
}
.icon-flickr4:before {
	content: "\e784";
}
.icon-picassa:before {
	content: "\e785";
}
.icon-picassa2:before {
	content: "\e786";
}
.icon-dribbble2:before {
	content: "\e787";
}
.icon-dribbble22:before {
	content: "\e788";
}
.icon-dribbble3:before {
	content: "\e789";
}
.icon-forrst:before {
	content: "\e78a";
}
.icon-forrst2:before {
	content: "\e78b";
}
.icon-deviantart:before {
	content: "\e78c";
}
.icon-deviantart2:before {
	content: "\e78d";
}
.icon-steam:before {
	content: "\e78e";
}
.icon-steam2:before {
	content: "\e78f";
}
.icon-github2:before {
	content: "\e602";
}
.icon-github3:before {
	content: "\e790";
}
.icon-github32:before {
	content: "\e600";
}
.icon-github322:before {
	content: "\e61d";
}
.icon-github4:before {
	content: "\e791";
}
.icon-wordpress:before {
	content: "\e603";
}
.icon-wordpress2:before {
	content: "\e792";
}
.icon-joomla:before {
	content: "\e793";
}
.icon-blogger:before {
	content: "\e794";
}
.icon-blogger2:before {
	content: "\e795";
}
.icon-tumblr2:before {
	content: "\e796";
}
.icon-tumblr22:before {
	content: "\e797";
}
.icon-yahoo:before {
	content: "\e798";
}
.icon-tux:before {
	content: "\e799";
}
.icon-apple2:before {
	content: "\e79a";
}
.icon-finder:before {
	content: "\e79b";
}
.icon-android2:before {
	content: "\e79c";
}
.icon-windows2:before {
	content: "\e79d";
}
.icon-windows8:before {
	content: "\e79e";
}
.icon-soundcloud:before {
	content: "\e79f";
}
.icon-soundcloud2:before {
	content: "\e7a0";
}
.icon-skype2:before {
	content: "\e7a1";
}
.icon-reddit:before {
	content: "\e7a2";
}
.icon-linkedin:before {
	content: "\e621";
}
.icon-lastfm:before {
	content: "\e7a3";
}
.icon-lastfm2:before {
	content: "\e7a4";
}
.icon-delicious:before {
	content: "\e7a5";
}
.icon-stumbleupon:before {
	content: "\e7a6";
}
.icon-stumbleupon2:before {
	content: "\e7a7";
}
.icon-stackoverflow:before {
	content: "\e7a8";
}
.icon-pinterest2:before {
	content: "\e7a9";
}
.icon-pinterest22:before {
	content: "\e7aa";
}
.icon-xing2:before {
	content: "\e7ab";
}
.icon-xing22:before {
	content: "\e7ac";
}
.icon-flattr:before {
	content: "\e7ad";
}
.icon-foursquare2:before {
	content: "\e7ae";
}
.icon-foursquare22:before {
	content: "\e7af";
}
.icon-paypal:before {
	content: "\e7b0";
}
.icon-paypal2:before {
	content: "\e7b1";
}
.icon-paypal3:before {
	content: "\e7b2";
}
.icon-yelp:before {
	content: "\e7b3";
}
.icon-libreoffice:before {
	content: "\e7b4";
}
.icon-file-pdf:before {
	content: "\e7b5";
}
.icon-file-openoffice:before {
	content: "\e7b6";
}
.icon-file-word:before {
	content: "\e7b7";
}
.icon-file-excel:before {
	content: "\e7b8";
}
.icon-file-zip:before {
	content: "\e7b9";
}
.icon-file-powerpoint:before {
	content: "\e7ba";
}
.icon-file-xml:before {
	content: "\e61f";
}
.icon-file-css:before {
	content: "\e61e";
}
.icon-html52:before {
	content: "\e620";
}
.icon-html522:before {
	content: "\e7bb";
}
.icon-css32:before {
	content: "\e7bc";
}
.icon-chrome:before {
	content: "\e7bd";
}
.icon-firefox:before {
	content: "\e7be";
}
.icon-IE:before {
	content: "\e7bf";
}
.icon-opera:before {
	content: "\e7c0";
}
.icon-safari:before {
	content: "\e7c1";
}
.icon-IcoMoon:before {
	content: "\e7c2";
}
.icon-phone4:before {
	content: "\eb0d";
}
.icon-mobile3:before {
	content: "\eb0e";
}
.icon-mouse:before {
	content: "\eb0f";
}
.icon-directions2:before {
	content: "\eb10";
}
.icon-mail6:before {
	content: "\eb11";
}
.icon-paperplane:before {
	content: "\eb12";
}
.icon-pencil4:before {
	content: "\eb13";
}
.icon-feather2:before {
	content: "\eb14";
}
.icon-paperclip2:before {
	content: "\eb15";
}
.icon-drawer4:before {
	content: "\eb16";
}
.icon-reply3:before {
	content: "\eb17";
}
.icon-reply-all2:before {
	content: "\eb18";
}
.icon-forward4:before {
	content: "\eb19";
}
.icon-user6:before {
	content: "\eb1a";
}
.icon-users3:before {
	content: "\eb1b";
}
.icon-user-add2:before {
	content: "\eb1c";
}
.icon-vcard:before {
	content: "\eb1d";
}
.icon-export2:before {
	content: "\eb1e";
}
.icon-location3:before {
	content: "\eb1f";
}
.icon-map3:before {
	content: "\eb20";
}
.icon-compass5:before {
	content: "\eb21";
}
.icon-location4:before {
	content: "\eb22";
}
.icon-target3:before {
	content: "\eb23";
}
.icon-share4:before {
	content: "\eb24";
}
.icon-sharable:before {
	content: "\eb25";
}
.icon-heart4:before {
	content: "\e7c4";
}
.icon-heart3:before {
	content: "\eb26";
}
.icon-star5:before {
	content: "\eb27";
}
.icon-star6:before {
	content: "\eb28";
}
.icon-thumbsup:before {
	content: "\eb29";
}
.icon-thumbsdown:before {
	content: "\eb2a";
}
.icon-chat2:before {
	content: "\eb2b";
}
.icon-comment3:before {
	content: "\eb2c";
}
.icon-quote:before {
	content: "\eb2d";
}
.icon-house:before {
	content: "\eb2e";
}
.icon-popup:before {
	content: "\eb2f";
}
.icon-search3:before {
	content: "\eb30";
}
.icon-flashlight:before {
	content: "\eb31";
}
.icon-printer2:before {
	content: "\eb32";
}
.icon-bell4:before {
	content: "\eb33";
}
.icon-link5:before {
	content: "\eb34";
}
.icon-flag4:before {
	content: "\eb35";
}
.icon-cog5:before {
	content: "\eb36";
}
.icon-tools:before {
	content: "\eb37";
}
.icon-trophy3:before {
	content: "\eb38";
}
.icon-tag4:before {
	content: "\eb39";
}
.icon-camera5:before {
	content: "\eb3a";
}
.icon-megaphone:before {
	content: "\eb3b";
}
.icon-moon2:before {
	content: "\eb3c";
}
.icon-palette:before {
	content: "\eb3d";
}
.icon-leaf4:before {
	content: "\eb3e";
}
.icon-music3:before {
	content: "\eb3f";
}
.icon-music4:before {
	content: "\eb40";
}
.icon-new:before {
	content: "\eb41";
}
.icon-graduation:before {
	content: "\eb42";
}
.icon-book5:before {
	content: "\eb43";
}
.icon-newspaper2:before {
	content: "\eb44";
}
.icon-bag:before {
	content: "\eb45";
}
.icon-airplane2:before {
	content: "\eb46";
}
.icon-lifebuoy:before {
	content: "\eb47";
}
.icon-eye4:before {
	content: "\eb48";
}
.icon-clock4:before {
	content: "\eb49";
}
.icon-microphone4:before {
	content: "\eb4a";
}
.icon-calendar4:before {
	content: "\eb4b";
}
.icon-bolt3:before {
	content: "\eb4c";
}
.icon-thunder:before {
	content: "\eb4d";
}
.icon-droplet2:before {
	content: "\eb4e";
}
.icon-cd2:before {
	content: "\eb4f";
}
.icon-briefcase4:before {
	content: "\eb50";
}
.icon-air:before {
	content: "\eb51";
}
.icon-hourglass:before {
	content: "\eb52";
}
.icon-gauge:before {
	content: "\eb53";
}
.icon-language:before {
	content: "\eb54";
}
.icon-network:before {
	content: "\eb55";
}
.icon-key4:before {
	content: "\eb56";
}
.icon-battery:before {
	content: "\eb57";
}
.icon-bucket:before {
	content: "\eb58";
}
.icon-magnet3:before {
	content: "\eb59";
}
.icon-drive:before {
	content: "\eb5a";
}
.icon-cup:before {
	content: "\eb5b";
}
.icon-rocket3:before {
	content: "\eb5c";
}
.icon-brush3:before {
	content: "\eb5d";
}
.icon-suitcase2:before {
	content: "\eb5e";
}
.icon-cone:before {
	content: "\eb5f";
}
.icon-earth2:before {
	content: "\eb60";
}
.icon-keyboard3:before {
	content: "\eb61";
}
.icon-browser:before {
	content: "\eb62";
}
.icon-publish:before {
	content: "\eb63";
}
.icon-progress-3:before {
	content: "\eb64";
}
.icon-progress-2:before {
	content: "\eb65";
}
.icon-brogress-1:before {
	content: "\eb66";
}
.icon-progress-0:before {
	content: "\eb67";
}
.icon-sun2:before {
	content: "\eb68";
}
.icon-sun3:before {
	content: "\eb69";
}
.icon-adjust2:before {
	content: "\eb6a";
}
.icon-code4:before {
	content: "\eb6b";
}
.icon-screen2:before {
	content: "\eb6c";
}
.icon-infinity2:before {
	content: "\eb6d";
}
.icon-light-bulb:before {
	content: "\eb6e";
}
.icon-creditcard:before {
	content: "\eb6f";
}
.icon-database2:before {
	content: "\eb70";
}
.icon-voicemail:before {
	content: "\eb71";
}
.icon-clipboard2:before {
	content: "\eb72";
}
.icon-cart4:before {
	content: "\eb73";
}
.icon-box2:before {
	content: "\eb74";
}
.icon-ticket4:before {
	content: "\eb75";
}
.icon-rss4:before {
	content: "\eb76";
}
.icon-signal2:before {
	content: "\eb77";
}
.icon-thermometer2:before {
	content: "\eb78";
}
.icon-droplets:before {
	content: "\eb79";
}
.icon-uniEB7A:before {
	content: "\eb7a";
}
.icon-statistics:before {
	content: "\eb7b";
}
.icon-pie2:before {
	content: "\eb7c";
}
.icon-bars4:before {
	content: "\eb7d";
}
.icon-graph:before {
	content: "\eb7e";
}
.icon-lock3:before {
	content: "\eb7f";
}
.icon-lock-open2:before {
	content: "\eb80";
}
.icon-logout:before {
	content: "\eb81";
}
.icon-login:before {
	content: "\eb82";
}
.icon-checkmark4:before {
	content: "\eb83";
}
.icon-cross2:before {
	content: "\eb84";
}
.icon-minus5:before {
	content: "\eb85";
}
.icon-plus5:before {
	content: "\eb86";
}
.icon-cross3:before {
	content: "\eb87";
}
.icon-minus6:before {
	content: "\eb88";
}
.icon-plus6:before {
	content: "\eb89";
}
.icon-cross4:before {
	content: "\eb8a";
}
.icon-minus7:before {
	content: "\eb8b";
}
.icon-plus7:before {
	content: "\eb8c";
}
.icon-erase:before {
	content: "\eb8d";
}
.icon-blocked2:before {
	content: "\eb8e";
}
.icon-info5:before {
	content: "\eb8f";
}
.icon-info6:before {
	content: "\eb90";
}
.icon-question3:before {
	content: "\eb91";
}
.icon-help:before {
	content: "\eb92";
}
.icon-warning3:before {
	content: "\eb93";
}
.icon-cycle:before {
	content: "\eb94";
}
.icon-cw:before {
	content: "\eb95";
}
.icon-ccw:before {
	content: "\eb96";
}
.icon-shuffle2:before {
	content: "\eb97";
}
.icon-arrow:before {
	content: "\eb98";
}
.icon-arrow2:before {
	content: "\eb99";
}
.icon-retweet2:before {
	content: "\eb9a";
}
.icon-loop5:before {
	content: "\eb9b";
}
.icon-history2:before {
	content: "\eb9c";
}
.icon-back:before {
	content: "\eb9d";
}
.icon-switch2:before {
	content: "\eb9e";
}
.icon-list4:before {
	content: "\eb9f";
}
.icon-add-to-list:before {
	content: "\eba0";
}
.icon-layout:before {
	content: "\eba1";
}
.icon-list5:before {
	content: "\eba2";
}
.icon-text:before {
	content: "\eba3";
}
.icon-text2:before {
	content: "\eba4";
}
.icon-document2:before {
	content: "\eba5";
}
.icon-docs:before {
	content: "\eba6";
}
.icon-landscape:before {
	content: "\eba7";
}
.icon-pictures:before {
	content: "\eba8";
}
.icon-video2:before {
	content: "\eba9";
}
.icon-music5:before {
	content: "\ebaa";
}
.icon-folder3:before {
	content: "\ebab";
}
.icon-archive3:before {
	content: "\ebac";
}
.icon-trash3:before {
	content: "\ebad";
}
.icon-upload5:before {
	content: "\ebae";
}
.icon-download5:before {
	content: "\ebaf";
}
.icon-disk2:before {
	content: "\ebb0";
}
.icon-install:before {
	content: "\ebb1";
}
.icon-cloud4:before {
	content: "\ebb2";
}
.icon-upload6:before {
	content: "\ebb3";
}
.icon-bookmark4:before {
	content: "\ebb4";
}
.icon-bookmarks2:before {
	content: "\ebb5";
}
.icon-book6:before {
	content: "\ebb6";
}
.icon-play5:before {
	content: "\ebb7";
}
.icon-pause4:before {
	content: "\ebb8";
}
.icon-record:before {
	content: "\ebb9";
}
.icon-stop4:before {
	content: "\ebba";
}
.icon-next2:before {
	content: "\ebbb";
}
.icon-previous2:before {
	content: "\ebbc";
}
.icon-first3:before {
	content: "\ebbd";
}
.icon-last3:before {
	content: "\ebbe";
}
.icon-resize-enlarge:before {
	content: "\ebbf";
}
.icon-resize-shrink:before {
	content: "\ebc0";
}
.icon-volume3:before {
	content: "\ebc1";
}
.icon-sound:before {
	content: "\ebc2";
}
.icon-mute:before {
	content: "\ebc3";
}
.icon-flow-cascade:before {
	content: "\ebc4";
}
.icon-flow-branch:before {
	content: "\ebc5";
}
.icon-flow-tree:before {
	content: "\ebc6";
}
.icon-flow-line:before {
	content: "\ebc7";
}
.icon-flow-parallel2:before {
	content: "\ebc8";
}
.icon-arrow-left5:before {
	content: "\ebc9";
}
.icon-arrow-down5:before {
	content: "\ebca";
}
.icon-arrow-up-upload:before {
	content: "\ebcb";
}
.icon-arrow-right5:before {
	content: "\ebcc";
}
.icon-arrow-left6:before {
	content: "\ebcd";
}
.icon-arrow-down6:before {
	content: "\ebce";
}
.icon-arrow-up5:before {
	content: "\ebcf";
}
.icon-arrow-right6:before {
	content: "\ebd0";
}
.icon-arrow-left7:before {
	content: "\ebd1";
}
.icon-arrow-down7:before {
	content: "\ebd2";
}
.icon-arrow-up6:before {
	content: "\ebd3";
}
.icon-arrow-right7:before {
	content: "\ebd4";
}
.icon-arrow-left8:before {
	content: "\ebd5";
}
.icon-arrow-down8:before {
	content: "\ebd6";
}
.icon-arrow-up7:before {
	content: "\ebd7";
}
.icon-arrow-right8:before {
	content: "\ebd8";
}
.icon-arrow-left9:before {
	content: "\ebd9";
}
.icon-arrow-down9:before {
	content: "\ebda";
}
.icon-arrow-up8:before {
	content: "\ebdb";
}
.icon-arrow-right9:before {
	content: "\ebdc";
}
.icon-arrow-left10:before {
	content: "\ebdd";
}
.icon-arrow-down10:before {
	content: "\ebde";
}
.icon-arrow-up9:before {
	content: "\ebdf";
}
.icon-arrow-right10:before {
	content: "\ebe0";
}
.icon-arrow-left11:before {
	content: "\ebe1";
}
.icon-arrow-down11:before {
	content: "\ebe2";
}
.icon-arrow-up10:before {
	content: "\ebe3";
}
.icon-uniEBE4:before {
	content: "\ebe4";
}
.icon-arrow-left12:before {
	content: "\ebe5";
}
.icon-arrow-down12:before {
	content: "\ebe6";
}
.icon-arrow-up11:before {
	content: "\ebe7";
}
.icon-arrow-right11:before {
	content: "\ebe8";
}
.icon-menu3:before {
	content: "\ebe9";
}
.icon-ellipsis:before {
	content: "\ebea";
}
.icon-dots:before {
	content: "\ebeb";
}
.icon-dot:before {
	content: "\ebec";
}
.icon-cc:before {
	content: "\ebed";
}
.icon-cc-by:before {
	content: "\ebee";
}
.icon-cc-nc:before {
	content: "\ebef";
}
.icon-cc-nc-eu:before {
	content: "\ebf0";
}
.icon-cc-nc-jp:before {
	content: "\ebf1";
}
.icon-cc-sa:before {
	content: "\ebf2";
}
.icon-cc-nd:before {
	content: "\ebf3";
}
.icon-cc-pd:before {
	content: "\ebf4";
}
.icon-cc-zero:before {
	content: "\ebf5";
}
.icon-cc-share:before {
	content: "\ebf6";
}
.icon-cc-share2:before {
	content: "\ebf7";
}
.icon-danielbruce:before {
	content: "\ebf8";
}
.icon-danielbruce2:before {
	content: "\ebf9";
}
.icon-github5:before {
	content: "\ebfa";
}
.icon-github6:before {
	content: "\ebfb";
}
.icon-flickr5:before {
	content: "\ebfc";
}
.icon-flickr6:before {
	content: "\ebfd";
}
.icon-vimeo4:before {
	content: "\ebfe";
}
.icon-vimeo5:before {
	content: "\ebff";
}
.icon-twitter4:before {
	content: "\ec00";
}
.icon-twitter5:before {
	content: "\ec01";
}
.icon-facebook4:before {
	content: "\ec02";
}
.icon-facebook5:before {
	content: "\ec03";
}
.icon-facebook6:before {
	content: "\ec04";
}
.icon-googleplus:before {
	content: "\ec05";
}
.icon-googleplus2:before {
	content: "\ec06";
}
.icon-pinterest3:before {
	content: "\ec07";
}
.icon-pinterest4:before {
	content: "\ec08";
}
.icon-tumblr3:before {
	content: "\ec09";
}
.icon-tumblr4:before {
	content: "\ec0a";
}
.icon-linkedin2:before {
	content: "\e7c5";
}
.icon-linkedin4:before {
	content: "\ec0b";
}
.icon-dribbble4:before {
	content: "\ec0c";
}
.icon-dribbble5:before {
	content: "\ec0d";
}
.icon-stumbleupon3:before {
	content: "\ec0e";
}
.icon-stumbleupon4:before {
	content: "\ec0f";
}
.icon-lastfm3:before {
	content: "\ec10";
}
.icon-lastfm4:before {
	content: "\ec11";
}
.icon-rdio:before {
	content: "\ec12";
}
.icon-rdio22:before {
	content: "\ec27";
}
.icon-spotify:before {
	content: "\ec14";
}
.icon-spotify2:before {
	content: "\ec15";
}
.icon-qq:before {
	content: "\ec16";
}
.icon-instagram3:before {
	content: "\ec17";
}
.icon-dropbox2:before {
	content: "\ec18";
}
.icon-evernote:before {
	content: "\ec19";
}
.icon-flattr2:before {
	content: "\ec1a";
}
.icon-skype3:before {
	content: "\ec1b";
}
.icon-skype4:before {
	content: "\ec1c";
}
.icon-renren2:before {
	content: "\ec1d";
}
.icon-sina-weibo:before {
	content: "\ec1e";
}
.icon-paypal4:before {
	content: "\ec1f";
}
.icon-picasa:before {
	content: "\ec20";
}
.icon-soundcloud3:before {
	content: "\ec21";
}
.icon-mixi:before {
	content: "\ec22";
}
.icon-behance:before {
	content: "\ec23";
}
.icon-circles:before {
	content: "\ec24";
}
.icon-vk2:before {
	content: "\ec25";
}
.icon-smashing:before {
	content: "\ec26";
}
