<header class="page-header">
    <h1>Hi, bitches!</h1>
</header>

<h2>Get off your lazy ass. It's time to find yourself a job.</h2>

<%= link_to "See all job postings", controller: "postings" %>
<%= link_to 'Add new job posting', new_posting_path %>
