<header class="page-header">
    <h1>Register with us</h1>
</header>


<form id="register">
  
  
  <p>It&rsquo;s <strong>free</strong> and takes less than <strong>30 seconds.</strong></p>

  <div>
    <button id="facebook"><i class="icon-facebook"></i>Facebook</button>
    <button id="twitter"><i class="icon-twitter"></i>Twitter</button>
  </div>
  
  <h3><span>or</span></h3>
  
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Where we can reach you">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="****">
  </div>

  <div>
    <input type="submit" value="Sign up">
  </div>

</form>
