<header class="page-header">
  <h3>Job hunting sucks.</h3>
  <h1>Let&rsquo;s make it suck less.</h1>
</header>

<div class="intro large-text">

  <p>Whether you send out ten resumes or ten hundred, it&rsquo;s important to keep track of your process. Using <span class="suitor">suitor</span>, you can easily track your application status, send follow-ups, and keep a record of what you said to who, so you&rsquo;ll never accidentally say the wrong thing to the wrong person.</p>

  <p><span class="suitor">suitor</span> is a little open-source Rails app built, conceived, and toiled over by <a href="http://triggersandsparks.com">sarah</a>, with considerable help from <a href="http://lonelyvegan.com">a fellow who calls himself tofumatt</a>. It&rsquo;s still very much under development.</p>

  <p>If you&rsquo;d like to help, or just keep an eye on development, you can <a href="http://github.com/sarahsemark/suitor">check it out on GitHub</a>. If you&rsquo;d just like to keep in touch, you can <a href="http://twitter.com/mrsuitor">talk to us on Twitter</a>.</p>

  <p>I&rsquo;m a massive overachiever. I promise there&rsquo;s more to come soon.</p>

</div>
