<header class="page-header">
  <h3>Something gone wrong? We&rsquo;re here to help.</h3>
  <h1>Help &amp; Support</h1>
</header>

<div class="intro large-text">
  <p><span class="suitor">suitor</span> is still in the very early stages of beta (technically alpha, but let's not quibble over Greek letters), so we&rsquo;re still working out all the kinks.</p>

  <p>If you run across an error, chances are good we&rsquo;ve already been notified about it and we&rsquo;re hard at work trying to fix it. <strong>Bugfixes will be released on a regular basis</strong>, so don&rsquo;t despair if something doesn&rsquo;t work right now&mdash;it will probably work tomorrow!</p>

  <p>We also welcome <strong>feature suggestions</strong> and ideas for improvement. If you have ideas, questions, or thoughts about how <span class="suitor">suitor</span> can better meet your needs, please drop us a line. If you don&rsquo;t understand how to do something, or something doesn&rsquo;t make sense, we want to know that, too!</p>

  <p>The easiest way to contact us is by sending an email to <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'&'+'#'+'1'+
'1'+'6'+';'+'o'+'&'+'#'+'5'+'8'+';'+'&'+'#'+'1'+'0'+'4'+';'+'i'+'&'+'#'+'6'+'4'+';'+'m'+'r'+'s'+'%'+
'7'+'5'+'i'+'t'+'&'+'#'+'1'+'1'+'1'+';'+'r'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'3'+'7'+';'+'6'+'&'+'#'+
'7'+'0'+';'+'m'+"'"+'>'+'&'+'#'+'1'+'0'+'4'+';'+'i'+'&'+'#'+'6'+'4'+';'+'m'+'r'+'s'+'u'+'i'+'t'+'&'+
'#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'1'+'4'+';'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'&'+'#'+'1'+'1'+
'1'+';'+'m'+'<'+'/'+'a'+'>');</script><noscript>(an informal greeting, at this domain)</noscript> or <a href="https://github.com/sarahsemark/suitor/issues">filing a new issue on Github</a>. Questions and suggestions will be dealt with promptly. (Promise!)</p>

  <p>Thanks for helping us make <span class="suitor">suitor</span> better!</p>
</div>
