<header class="page-footer">
  Like this post? <a href="http://twitter.com/home?status=Hey @suitor, loved your blog post!">Talk to us on Twitter</a>.
  Hate this post?
  <%= link_to 'Read a different one.', blog_index_path %>
</header>
