</section>

<footer class="post-footer">
  <p>
    Like this post? Hate this post? 
    <a href="http://twitter.com/home?status=Hey @suitor, loved your blog post!">Talk to us on Twitter</a>. 
  </p>
  <%= link_to 'Read more posts', blog_index_path, class: 'back-link' %>

  <div id="disqus_thread">  
  </div>

  <script type="text/javascript">
      var disqus_shortname = 'suitor';
      var disqus_identifier = <%= @post.slug.to_json.html_safe %>;
      var disqus_title = <%= @post.title.to_json.html_safe %>;
      var disqus_url = <%= @post.permalink.to_json.html_safe %>;
      <% unless Rails.env.production? %>
        var disqus_developer = 1;
      <% end %>

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
    
</footer>
