// DASHBOARD CONTROLLER STYLES

.dashboard .intro {
}

footer.logout {
    margin-top: 5em;
    text-align: center;

    a {
        @extend %button;
        @include appearance(none);
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        float: none;
        clear: both;
    }
}