#launch-page, html {height: 100%;}

.panel {
  height: 100%;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid $medium-grey;
  border-top: 1px solid $white;
  @include box-shadow;
}

#tagline {
  text-align: center;
  @include span-columns(8);
  @include shift(2);
}

#screenshots {
  background: $white;
}



#signup {

  form {
    margin-top: 5em;
    @include span-columns(6);
    @include shift(3);
  }

}

