$max-width: 800px;
$grid-columns: 12;

aside   { @include span-columns(3); }
section { @include outer-container; }

.site-header {
    @include outer-container;
    border-bottom: 2px solid $light-grey;

    #logo {
        @include span-columns(4);
    }

    ul.navigation {
        @include span-columns(7);
        @include shift(1);

        li {
            display: inline-block;
            margin: 2em .5em;
            width: 160px;
        }

        a {
            font-family: $serif;
            font-size: 1.2em;
            color: $medium-grey;
            font-weight: 500;
            line-height: .8em;

            span {
                display: block;
                font-family: $sans-serif;
                font-size: .6em;
                text-transform: uppercase;
            }
        }

        i {
            margin: 0 10px;
            color: $red;
            font-size: 16px;
            line-height: 16px;
            height: 40px;
            width: 40px;
            float: left;
            border: 2px solid $red;
            padding: 10px;
            border-radius: 50%;
        }


    }
}


.container {
    @include outer-container;   
}

.page-header {
    @include span-columns(12);
    text-align: center;
    margin: 4em 0;
}

section.job-posting { 
    margin: 4em 0;

    .header {
        @include span-columns(12); 
        border-bottom: 2px solid $medium-grey;
        padding-bottom: .25em;
        margin-bottom: .25em;

        h3 {
            @include span-columns(7);
        }

        .controls {
            @include span-columns(5);
            text-align: right;

            .applied {
                float: left;

                span {
                    display: inline;
                }
            }
        }
    }

    .company {
        @include span-columns(7);

        p {
            font-style: italic;
            color: darken($medium-grey, 20%);
            font-weight: 100;
        }
    }

    .job-details {
        @include span-columns(5);
        padding-top: 4.25em;
        font-family: $serif;
        font-size: 1em;
        font-weight: 400;

        li {
            padding: .5em;
            border-top: 1px solid $light-grey;
        }

        i {

            span {
                display: inline;
                color: $medium-grey;
                font-size: .8em;
                vertical-align: baseline;
            }
        }
    }
}


i {
    color: $dark-grey;
    margin-right: 5px;

    &.greyed {
        color: $light-grey;
    }

    span {
        display: none;
        font-family: sans-serif;
        font-weight: 700;
        font-size: .9em;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 5px;
        vertical-align: middle;
    }
}


