body {
    background: $base-body-color image-url('pinstriped_suit_@2X.png');
    background-size: 400px 330px;
    overflow-x: hidden;
}

// MOBILE MENU
html.mm-opened .mm-page {
    border: none none none 5px solid $white;
    @include box-shadow;
}
#mobile-menu {
    &:not(.mm-menu) {
        display: none;
    }
    background: lighten($blue, 66.5%) image-url('whitey_@2X.png');
    background-size: 654px 654px;
    color: $blue;

    .mm-list {
        padding-top: 0;

        li {
            border-top: 1px solid transparentize($medium-grey, .8);
            border-bottom: 1px solid $white;
        }
        > li:after {
            display: none;
        }

        li > a, li > span {
            padding: 15px 20px;
            font-family: $sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }

    i {
        color: lighten($blue, 40%);
    }
}

// LOGO AND NAVIGATION
.site-header {
    border-bottom: 1px solid $light-grey;
    background: $base-body-color;
    width: 100%;
    @include box-shadow;

    .header-container {
        @include outer-container;
        @include media($large-screen-down) {
            text-align: center;
        }
    }

    #mobile-menu-button {
        float: left;
        margin: 18px -25px 0 20px;
        font-size: 30px;
        @include media($large-screen) { display: none; }
        i { color: lighten($blue, 40%); }
    }

    #logo {
        @include media($large-screen-down) {
            width: 45%;
            margin: 0 auto;
        }

        @include media($large-screen) {
            @include span-columns(2);
        }
    }

    ul.navigation {
        @include media($large-screen-down) {
            display: none;
        }
        @include span-columns(8);
        @include shift(1);
        margin-top: 1em;

        li {
            display: inline-block;
            width: auto;
            @include span-columns(2 of 8);
            @include omega(4n);
        }

        a {
            font-family: $serif;
            font-size: 1.4em;
            @include media($max-width-down) {
                font-size: 1.2em;
            }
            color: $blue;
            font-weight: 400;
            line-height: 1;

            span {
                display: block;
                color: $medium-grey;
                font-family: $sans-serif;
                font-size: .5em;
                letter-spacing: 1px;
                font-weight: 600;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        i {
            margin: -1px 10px 0 0;
            color: $blue;
            font-size: 18px;
            line-height: 18px;
            height: 40px;
            width: 40px;
            float: left;
            border: 2px solid lighten($blue, 20%);
            padding: 9px;
            border-radius: 50%;
        }
    }
}


// GENERAL PAGE STRUCTURE & STYLES
.container {
    @include outer-container;
    @include media($max-width-down) {
        margin: 10px;
    }
}

.page-header {
    text-align: center;
    padding: 4em 0;
    @include clearfix;

    .controls {
        display: inline-block;
        margin: .5em 0 0;
        line-height: 1em;
        span { display: inline; }
        i { margin: 0; }
    }

    .controls > a, button {
        @extend %small-button;
        float: left;
        display: inline-block;
        margin: 0 2px 6px;
        padding: 8px 12px;
        text-align: left;
        i { color: $medium-grey; }
    }

    @include media($mobile) {
        h1 { font-size: 2em; }
    }
}

.expander:hover {cursor: pointer;}
.expand-panel {
    border-bottom: 2px solid $light-grey;

    h3 {
        margin: .25em 0 .75em;
        font-size: .9em;
        text-align: center;
    }
}
.notes {
    font-style: italic;
    font-family: $italic;
    font-size: 1.05em;
    color: darken($medium-grey, 20%);
    font-weight: 100;
}


// ICONS
i {
    color: $dark-grey;
    margin-right: 2px;

    &.greyed {
        color: $light-grey;
    }

    span {
        display: none;
        font-family: $sans-serif;
        font-weight: 700;
        font-size: .8em;
        letter-spacing: .5px;
        text-transform: uppercase;
        padding-left: 5px;
    }

    & + i {margin-left: 15px;}

    &.expand-icon {
        float: right;
        background: $medium-grey;
        border-radius: 50%;
        color: $white;
    }
}

// Flash/error messages
@mixin error-colours($color) {
    border-color: $color;
    color: saturate($color, 20%);
    background: lighten($color, 60%);
}

.alert {
    max-width: 560px;
    margin: 30px auto 15px;
    border: 1px solid $medium-grey;
    border-left: 4px solid $medium-grey;
    padding: 10px;

    &.alert-error {
        @include error-colours($red);
    }
    &.alert-alert {
        @include error-colours($medium-grey);
    }
    &.alert-success {
        @include error-colours($green);
    }
    &.alert-notice {
        @include error-colours($blue);
    }
}


// Tooltips

.tooltip {
    position: absolute;
    top: 10px;
    left: 0px;
    background: transparentize($white, .2);
    border: 2px solid lighten($blue, 40%);
    padding: 13px;
    z-index: 4000;
    color: $blue;
    font-size: .8em;
    line-height: 1.6em;
    font-family: $serif;

    &:after, &:before { 
        content: '';
        position: absolute; 
        bottom: 100%; 
        left: 50%; 
        height: 0; 
        width: 0;
        border: solid transparent; 
        pointer-events: none; 
    } 
    &:after { 
        border-color: transparentize($white, 1); 
        border-bottom-color: $white; 
        border-width: 10px; 
        margin-left: -10px; 
    } 
    &:before { 
        border-color: transparentize($white, 1); 
        border-bottom-color: lighten($blue, 40%); 
        border-width: 13px; 
        margin-left: -13px; 
    }
}

form .tooltip {
    width: 100%;
    top: 85px;
}

li .tooltip {
    top: 40px;
}

section.job-posting .tooltip {
    width: 70%;
    top: -70px;
    left: 15%;

    &:after, &:before {
        top: 100%;
    }

    &:after { 
        border-color: transparentize($white, 1); 
        border-top-color: $white; 
    } 
    &:before { 
        border-color: transparentize($white, 1); 
        border-top-color: lighten($blue, 40%); 
    }
}


// SITE FOOTER

//#footnotes_debug { display: none; }

.site-footer {
    margin-top: 5em;
    border-top: 2px solid $light-grey;
    background: darken($medium-grey, 10%) image-url('stressed_linen_@2X.png');
    background-size: 256px 256px;
    width: 100%;
    padding: .5em 2em;
    @include box-shadow;

    &:after {
        display: block;
        content: '';
        clear: both;
        width: 100%;
    }

    .footer-container {
        @include outer-container;
        @include media($large-screen-down) {
            text-align: center;
        }
    }

    ul {

        &.primary {
            @include span-columns(1 of 2);
            @include media($large-screen-up) { @include span-columns(4 of 6); }
            text-align: left;
        }
        
        &.secondary {
            @include span-columns(1 of 2);
            @include media($large-screen-up) { @include span-columns(2 of 6); }
            font-size: .8em;
            text-align: right;
        }

        li {
            padding: 0 .75em;
            font-weight: 400;
            @include media($large-screen) { display: inline; }
        }

        a {
            color: $medium-grey;
            &:hover { color: transparentize($white, 0); }
        }

        i { color: $light-grey; }
    }
}
