// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// LAUNCH PAGE

.pages.launch, html {height: 100%;}

.panel {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

.large-text {
  font-size: 1.2em;
  line-height: 1.8em;
  
  @include media($mobile) {
    font-size: 1em;
  }
}

a + h3 {
  @include media($large-screen-down) { display: none; }
  display: inline-block; 
}


// teaser/intro panel
#teaser {
  padding-top: 10%;
  padding-bottom: 5%;
  background: darken($medium-grey, 10%) image-url('suit-man.jpg');
  background-size: cover;
  @include box-shadow($opacity: .2);

  .intro {
    text-align: center;

    @include media($large-screen-up) {
      @include span-columns(7);
      @include shift(4);
    }

    p { 
      color: lighten($light-grey, 10%);
      font-size: 1.8em;
      @include media($max-width-up) { font-size: 2em; }
      line-height: 1.4em;
      text-align: center;
      text-shadow: 1px 1px 1px transparentize(#000, .5);
    }
    
    em { color: $white; }
    ul { display: none; }

    a {
      @extend %button;
      display: inline-block;
      clear: none;
      float: none;
      margin: 10px 0;
      @include media($large-screen-down) { margin: 10px 20px; }

      &.primary {
        background: $base-secondary-color;
        border-color: lighten($base-secondary-color, 40%);
        text-shadow: -1px -1px 0px transparentize(black, .6);
        color: lighten($base-secondary-color, 40%);
        
        &:hover { 
          background: lighten($base-secondary-color, 10%);
          border-color: lighten($base-secondary-color, 50%);
          color: lighten($base-secondary-color, 50%);
        }
      }
    }

    h3 span { color: $white; }
  }
}



// about panel
#about {
  background: lighten($blue, 66.5%) image-url('whitey_@2X.png');
  background-size: 654px 654px;
  padding-bottom: 5em;
  @include box-shadow;

  .row {
    clear: both;
    @include media($medium-screen-up) { padding-top: 5em; }
  }

  .image {
    @include media($mobile) {
      text-align: center;
      
      img {
        width: 80%;
        margin: 10px 10%;
      }
    }

    @include media($medium-screen-up) { @include span-columns(6); }

    @include media($large-screen-up) {
      @include span-columns(5);
      &:last-child { @include shift(1); }
    }
  }

  .large-text {

    @include media($medium-screen-up) {
      margin: -1em 0;
      @include span-columns(6); 
    }

    @include media($large-screen-up) {
      margin: 2em 0;
      &:last-child { @include shift(1); }
    }
  }
}


// signup panel
#signup {
  border-top: 2px solid $white;

  .large-text {
    @include media($medium-screen-up) {
      @include span-columns(10);
      @include shift(1);
    }
    @include media($large-screen-up) {
      @include span-columns(6);
      @include shift(3);
    }

  }

  form {
    @include media($medium-screen-up) {
      margin-top: 2em;
      @include span-columns(10);
      @include shift(1);
    }

    @include media($large-screen-up) {
      margin-top: 5em;
      @include span-columns(8);
      @include shift(2);

      input[type="email"] {
        width: 53%;
        float: left;
      }

      .mce-responses {
        display: none;
      }

      .actions {
        float: left;
        clear: none;
        width: 45%;
        background: red;
        margin-left: 2%;
      }

      input[type="submit"] {
        margin: 0;
        width: 100%;
      }
    }
  }

  .footnote {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    font-family: $sans-serif;

    @include media($medium-screen-up) {
      @include span-columns(4);
      @include shift(4);
    }
  }
}




// WELCOME/HOME PAGE
.home .intro {
  @extend %box;
  
  @include media($large-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }
  
  p { text-align: left; }

  a {
    @extend %button;
    @include appearance(none);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    float: none;
    clear: both;
  }
}



// ABOUT PAGE
.about .intro {
  @include media($large-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }
}


// HELP PAGE
.help .intro {
  @include media($large-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }
}


// ERROR PAGES 
.error {
  i {
    color: lighten($red, 20%);
    span { display: inline; }
  }

  .panel {
    border-bottom: 0;
    box-shadow: none;
  }

  p:last-of-type { text-align: right; }

  @include media($medium-screen-up) {
    .logo {
      @include span-columns(6);
      @include shift(3);
    }

    .page-header {
      clear: both;
      padding-top: 2em;
    }

    .large-text {
      @include span-columns(8);
      @include shift(2);
    }
  }

  @include media($large-screen-up) {
    .logo {
      @include span-columns(4);
      @include shift(4);
    }

    .large-text {
      @include span-columns(6);
      @include shift(3);
    }
  }
}
