// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Registration form
#new_user {
    @include span-columns(4);
    @include shift(4);

    p {
        margin: -1em 0 2em;
    }

    div {
        margin: 0;
        @include clearfix;
    }

    #twitter, #facebook {
        clear: none;
        float: left;
        padding: .75em 1em;
        width: 48%;
        margin: 1em 0 0 0;
        text-transform: uppercase;
        font-size: .85em;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: none;
        line-height: 20px;
        border-bottom-width: 2px;

        i {
            font-size: 20px;
            vertical-align: bottom;
            margin-right: 10px;
        }

        &:hover {
            border: 1px solid $white;
        }

    }

    #twitter {
        background-color: lighten($twitter, 30%);
        color: $twitter;
        border-color: $twitter;
        i { color: $twitter; }
    }

    #facebook {
        margin-right: 2%;
        background-color: $facebook;
        color: lighten($facebook, 30%);
        border-color: lighten($facebook, 30%);
        i { color: lighten($facebook, 30%) }
    }

    h3 {
        clear: both;
        margin: 2em 0 .25em;
        text-align: center;
        font-style: italic;
        text-transform: lowercase;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 0.5;
        color: lighten($medium-grey, 10%);
        
        span {    
            display: inline-block;
            position: relative;  

            &::before, &::after {
                content: '';
                position: absolute; 
                display: block;
                height: 2px;
                width: 75px;
                top: 2px;  
                border-top: 1px solid $light-grey;
                border-bottom: 2px solid $light-grey;
            }

            &::before {
                right: 100%;
                margin-right: 5px;
            }

            &::after {
                left: 100%;
                margin-left: 5px;
            }
        }
    }

    label, input[type=email], input[type=password] {
        width: 100%;
        float: none;
    }

    label {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $sans-serif;
        font-size:.8em;
        font-weight: 500;
        color: $medium-grey;
        text-align: left;
    }

    input[type=submit] {
        padding-left: 5em;
        padding-right: 5em;
    }

}
