// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Signup form and login
.signup-intro {
    @include media($large-screen-up) {
        @include span-columns(6);
    } 
}

@include media($large-screen-up) {
    #signup-form {
        @include span-columns(5);
        @include shift(1);
    }
    #login-form, #password-reset {
        @include span-columns(6);
        @include shift(3);
    }
}

#signup-form, #login-form {
    p {
        margin: -1em 0 2em;
    }

    #twitter, #facebook {
        @extend %small-button;
        clear: none;
        float: left;
        padding: .75em 1em;
        width: 48%;
        margin: 1em 0 0 0;
        text-transform: uppercase;
        font-size: .85em;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: none;
        line-height: 20px;
        border-bottom-width: 2px;

        i {
            font-size: 20px;
            vertical-align: bottom;
            margin-right: 10px;
        }

        &:hover {
            border: 1px solid $white;
        }

    }

    #twitter {
        background-color: lighten($twitter, 30%);
        color: $twitter;
        border-color: $twitter;
        i { color: $twitter; }
    }

    #facebook {
        margin-right: 2%;
        background-color: $facebook;
        color: lighten($facebook, 30%);
        border-color: lighten($facebook, 30%);
        i { color: lighten($facebook, 30%) }
    }

    h4 {        
        span {    
            display: inline-block;
            position: relative;  

            &::before, &::after {
                content: '';
                position: absolute; 
                display: block;
                height: 2px;
                width: 75px;
                top: 2px;  
                border-top: 1px solid $light-grey;
                border-bottom: 2px solid $light-grey;
            }

            &::before {
                right: 100%;
                margin-right: 5px;
            }

            &::after {
                left: 100%;
                margin-left: 5px;
            }
        }
    }

    .forgot-password-link {
        float: right;
    }
    
    input[type=submit] {
        padding-left: 5em;
        padding-right: 5em;
    }

}

#login-form .footnote {
    margin-top: 5em;
    border-top: 1px solid $light-grey;
    padding: 10px 0;
    text-align: center;
    font-size: .8em;
}
