.intro {
    @extend %box;
    @include span-columns(6);
    @include shift(3);

    p {
        text-align: left;
    }

    p:last-of-type {
        margin: 1em 0 3em;
        font-size: 1.4em;
        color: $red;
        text-align: center;
    }

    a {
        @extend %button;
        @include appearance(none);
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        float: none;
        clear: both;

    }
}
