<% content_for :title do %>
  Forgot your password?
<% end %>

<p>Feeling forgetful<% if @resource.name %>, <%= @resource.name %><% end %>? Never fear!</p>

<p>To reset your password, just <%= link_to 'visit this page', edit_password_url(@resource, reset_password_token: @token) %> and set a new password for your account. (Maybe something with fewer #'s and *'s in it?)</p>

<p class="center">
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'button' %>
</p>

<p>If you had a sudden flash of genius and remember your password now, just delete this email. Your old password is still good!</p>
